.App {
  min-height: 100vh;
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: rgb(0, 0, 0);
}

.App-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: calc(10px + 2vmin);
}

.title {
  font-size: calc(10px + 3vmin);
}

.row {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-md {
  margin: 20px;
  min-width: 30%;
}